$variant: 'dark';

$base_padding: 6px;

// From GNOME Shell source, data/theme/gnome-shell-sass/_colors.scss:
// <https://gitlab.gnome.org/GNOME/gnome-shell/-/blob/gnome-43/data/theme/gnome-shell-sass/_colors.scss>

$_dark_base_color: darken(desaturate(#241f31, 100%), 2%);
$base_color: if($variant == 'light', #fff, $_dark_base_color);
$bg_color: if($variant == 'light', #f6f5f4, lighten($base_color, 5%));

$selected_fg_color: #fff;
$selected_bg_color: #3584e4;
$borders_color: lighten($bg_color,17%);

.force-quit-dialog {
  max-height: 34em;
  min-height: 31em;
  min-width: 32em;
}

/* From data/theme/gnome-shell-sass/widgets/_network-dialog.scss in
 * gnome-shell 41:
 * <https://gitlab.gnome.org/GNOME/gnome-shell/-/blob/gnome-41/data/theme/gnome-shell-sass/widgets/_network-dialog.scss>
 */

.force-quit-dialog-scroll-view {
  border: 1px solid $borders_color;
  padding:0;
  background-color: darken($bg_color, 3%);
}

// list item
.force-quit-dialog-item {
  border-bottom: 1px solid $borders_color;
  padding: $base_padding * 2;
  spacing: 12px;
  &:selected {
    background-color: $selected_bg_color;
    color: $selected_fg_color;
  }
}
